@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 0;
}

body{
    background: #050820;
    overflow-x: hidden;
}
#root{
    height: auto;
    width: 100vw;
    background: repeating-linear-gradient(to right, transparent 0px 50px, #232323b7 50px 51px),
                repeating-linear-gradient(to bottom, transparent 0px 50px, #232323b7 50px 51px);
}
